/* ---------- variables ---------- */
:root {
  --content-shader: rgba(236, 207, 207, 0.3); 
  --content-shadow: 5px 5px 15px 5px #000000;
}


/* ---------- general ----------*/
body {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: rgb(221, 221, 153);
}

img {
    display: block;
}

/* ---------- main component ---------- */
#main {
/* border: solid 3px red; */
    
    width: 50%;
    margin: 0 auto;
}

/* ---------- title component ---------- */
#title {
/* border: solid 3px red; */

    text-align: center;
    background-color: var(--content-shader);
    box-shadow: var(--content-shadow);
}

/* ---------- image component ---------- */
#img-div {
/* border: solid 3px red; */

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

    #image {
    /* border: solid 3px blue; */

        max-width: 100%;
        border-radius: 1rem;
        box-shadow: var(--content-shadow);
        height: auto;
        
    }

    #img-caption {
    /* border: solid 3px blue; */

        font-size: 1rem;
        font-style: italic;
        margin-top: 1.25rem;
        text-align: center;
    }

/* ---------- bio text component ---------- */
#tribute-info {
/* border: solid 3px red; */
    
    margin-bottom: 5rem;
    padding: 1rem;
    background-color: var(--content-shader);
    box-shadow: var(--content-shadow);
}

    #bio-text-heading {
    /* border: solid 3px blue; */
        
        text-align: center;
    }

/* ---------- bio video component ---------- */
#bio-video-container {
/* border: solid 3px red; */
    
        margin: 0 auto;
        width: max-content;
}

/* ---------- quote component ---------- */
#quote-container {
 /* border: solid 3px red; */
    
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.25rem;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    background-color: rgba(207, 236, 230, 0.3);
    box-shadow: var(--content-shadow);
}

/* ---------- more info component ---------- */
#more-info-container {
/* border: solid 3px red; */

    font-size: 1rem;
    margin-top: 2.5rem;
    margin: 0 auto;
    text-align: center;
}




